{% extends "base.html" %}

{% block content %}
<div id="article">
  <h2>About Me</h2>

  <p>I am a recent University of San Diego School of Law Graduate. I am interested in open source hardware and software and I am currently looking for work in the programming industry.I enjoy computer games tinkering with my Raspberry Pi and reading science fiction.</p>
  <figure><img src="/static/images/portrait.jpg" /></figure>
  <div id="c_list">
    <dl>
      <dt>Contact</dt>
      <dd>
        <ul>
          <li><a class="button" href="mailto:dobber187@gmail.com" title="email"><img src="/static/images/gmail.png" alt="Email" height="20" width="20" /></a></li>
          <li><a class="button" href="www.linkedin.com/in/ggrumbley" title="LinkedIn"><img src="/static/images/linkedin.gif" alt="LinkedIn" height="20" width="20" /></a></li>
          <li><a class="button" href="http://twitter.com/StumblinG" title="Twitter"><img src="/static/images/twitter_icon.png" alt="Twitter" height="20" width="20" /></a></li>
          <li><a class="button" href="https://github.com/StumblinGrumblin" title="GitHub"><img src="/static/images/github.png" alt="Github" height="20" width="20" /></a></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}