<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <title>GaryGrumbley.com</title>
  <link href="stylesheets/master.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div id="wrap">
    <header role="banner">
      <h1 id="logo"><a href="index.html">Gary Grumbley</a></h1>
    </header>
      <nav class="menu">
        <ul>
          <li><a href="about.html">Bio</a></li>
          <li><a href="resume/resume.html">Resume</a></li>
          <li><a href="about.html">Fiction</a></li>
          <li><a href="about.html">Projects</a></li>
          <li><a href="about.html">Archives</a></li>
          <li><a href="about.html">Contact</a></li>
        </ul>
      </nav>
   
    <div id="main" role="main">
      <div id="article">
        <h2>CS50x Week 0 Project</h2>
         <p>by <strong>Gary Grumbley</strong> on <time>10/29/2012</time></p>
          <article>
            <div class="video-container">
              <a href='http://scratch.mit.edu/projects/Ggrumbley/2870356'><img src='http://scratch.mit.edu/static/projects/Ggrumbley/2870356_med.png' width='425' height='319' alt='Scratch Project'></a> <a href='http://scratch.mit.edu/projects/Ggrumbley/2870356'>Learn more about this project</a>
            </div>
            <p> I have enrolled in Harvard's Introduction to Computer Science on MIT's ed.X site. The course is known as CS50 and the ed.X version is CS50x. This is my first project from week 0.
            <a href="articles/cs50x_week0.html"> More&raquo;</a>
            </p>
          </article>
      </div>
      <div id="article">
        <h2>Digital Video Projects</h2>
         <p>by <strong>Gary Grumbley</strong> on <time>10/22/2012</time></p>
          <article>
            <div class="video-container">
              <iframe width="640" height="360" src="http://www.youtube.com/embed/aY2QhRTjtuY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </div>
            <p> These are three digital video projects that I did back in the late nineties. They are crude by todays standards but the software I used back then was state of the art.
            <a href="articles/digvidprojects.html"> More&raquo;</a>
            </p>
          </article>
      </div>
      <div id="article">
        <h2>The Trouble with Copyright Protection for Open Source Hardware</h2>
        <p>by <strong>Gary Grumbley</strong> on <time>10/10/2012</time></p>
        <article>
          <div id="img-container">
            <img src="images/ohw-logo.png" alt="Open Hardware" width="150" />
            <p><a href="http://oshwlogo.com/">Original Image</a> from Macklin Chaffee</p>
          </div>
          <p>Open source hard ware is an excellent idea. There are many promising projects from Raspberry Pi to Arduino. However, there are problems with licensing open source hard ware projects because hardware is not proper subject matter for copyright protection.
          <a href="articles/opensource-hardware.html"> More&raquo;</a>
          </p>
        </article>
      </div>
    </div>
    
    <div id="sidebar" role="complementary">
      <img id="img-container" src="images/portrait.jpg" />
      <p>This is the personal blog of Gary Grumbley. This is the place to get your daily geek fix.</p>
        <dl>
          <dt>Contact Me</dt>
          <dd>
            <ul>
              <li><a class="button" href="mailto:dobber187@gmail.com" title="email"><img src="images/gmail.png" alt="Email" height="20" width="20" /></a></li>
              <li><a class="button" href="www.linkedin.com/in/ggrumbley" title="LinkedIn"><img src="images/linkedin.gif" alt="LinkedIn" height="20" width="20" /></a></li>
              <li><a class="button" href="http://twitter.com/StumblinG" title="Twitter"><img src="images/twitter_icon.png" alt="Twitter" height="20" width="20" /></a></li>
              <li><a class="button" href="https://github.com/StumblinGrumblin" title="GitHub"><img src="images/github.png" alt="Github" height="20" width="20" /></a></li>
              <li><a class="button" href="http://www.codecademy.com/users/stumblingrumblin" title="Codecademy"><img src="images/codeacademy.png" alt="Codecademy" height="20" width="20" /></a></li>
            </ul>
          </dd>
        </dl>
        
    </div>
    <footer role="contentinfo">
      <p>Copyright &copy; Gary Grumbley 2012</p>
    </footer>
  </div>
</body>
</html>
