<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <title>Ceasar Cipher</title>
  <link href="/static/master.css" rel="stylesheet" type="text/css" media="all" />
</head>
	<body>
		<div id="wrap">
	    <header role="banner">
	      <h1 id="logo"><a href="/">Gary Grumbley</a></h1>
	    </header>
	      <nav class="menu">
	        <ul>
	          <li><a href="/rot13">Caesar Cipher</a></li>
	          <li><a href="/signup">Signup Page</a></li>
	          <li><a href="/about">About</a></li>
	        </ul>
	      </nav>
			<div id="main" role="main">
				<div id="article">
					<h2>Enter some text to Caesar Cipher</h2>
					<form method="post">
						<textarea name="text" style="height: 100px; width: 400px;">{{text}}</textarea>
						<br>
						<input type="submit">
					</form>
				</div>
			</div>
			<footer role="contentinfo">
	      <p>Copyright &copy; Gary Grumbley 2012</p>
	    </footer>
		</div>
	</body>
</html>